body{
	margin:0;
	padding: 0;
}
.container{
	height: 700px;
	margin: 0 auto;
	background-color:#f6f7f9;
	font-family:monospace;
}
.card{
	height:600px;
	border-radius:4px;
	border: none;
	background-color:#f6f7f9;
}
.boxes{
	height: 550px;
	padding:0;
}
.left-box{
	width: 100%;
	height:550px;
	background-color:#edf0f5;
}
.cover{
	width:174%;
	height:95%;
	margin-top:5%;
	margin-left:-42%; 
}
.right-box{
	text-align: center;
	height:550px;
	margin-left: -27px;
	background-color: #fff;
}
.button{
	margin: 0px 10px;
	text-align: left;
}
input[type="submit"]{
	font-family: sans-serif;
	padding: 10px 20px;
	border:1px solid gainsboro;
	color:darkgrey;
	font-size: 10px;
	font-weight:bold;
	border-radius: 40px;
	background-color: #fff;
}
.content{
	padding-left:30px;
	padding-right:70px;
}
h1{
	font-family:sans-serif;
	font-size: 34px;
	font-weight: 600;
	letter-spacing:5px;
	margin-top: 100px;
	line-height:42px;
	text-align: center;
}
hr{
	width: 40px;
	height:2px;
	font-weight:900;
	background-color:#222;
}
p{
	font-family:Arial;
	color:#90949c;
	text-align: left;
	font-size:11px;
	font-weight:900;
	word-spacing:1px;
	padding-top:20px;
	line-height:22px;
	padding-left:40px;
	
}
h2{
	padding-top: 20px;
	color:#404040;
	font-size: 12px;
	font-family:Arial;
	font-weight:900;
}
.icon{
	font-size:10px;
	font-weight: 100;
}
.links{
	padding: 20px 20px;
	text-decoration: none;
	text-align: left;
}
.links i.in{
	padding-left:15px;
	color:#404040;
}
.fa-linkedin{
	color:#404040;
}
@media only screen and (max-width:991){
	[class*=col-""]{
		width: 100%;
	}
}